* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.box{
  margin: 30px auto;
  align-content: center;
}
.event{
    padding: 50px;
    border: solid 1px #000;
    border-radius: 25px;
}
.get-group{
    padding: 15px;
}
.get-group .title-text{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}
.get-group form{
    width: 50%;
    margin: 10px auto;
    padding: 8px;
    border: solid 1px #000;
    background-color: #fff;
}
.get-group form #search{
    width: 80%;
    padding: 10px;
    background-color: #fff;
    background: #fff;
    border: solid 1px #fff;
}
.get-group form #btn{
    width: 20%;
}
.card {
  padding: 30px;
  border: solid 1px #000;
}
.wrapper .row{
    width: 100%;
    gap: 10px;
    justify-content: center;
}
.card > *{
    text-align: center;
}